# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
.build
.dist
downloads
env
venv
logs
media
ARCHIVE/*
ARCHIVE_ARTICLE//*
TEMP/*
ARTICLES/*
INVALID_XML_FILES/*
handle.sqlite3
pid.sqlite3
certificates
data/*