# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
.build
.dist
.idea
downloads
env
venv
logs/*
media
ARCHIVE/*
ARCHIVE_ARTICLE//*
TEMP/*
ARTICLES/*
INVALID_FILES/*
certificates
data/*
accounts/migrations/*
model/migrations/*
article.sqlite3
