__pycache__/
.Python
.build
.dist
.idea
downloads
env
venv
logs/*
media
ARCHIVE/*
ARCHIVE_ARTICLE//*
TEMP/*
ARTICLES/*
INVALID_FILES/*
certificates
data/*
**/migrations/*
article.sqlite3
pid.sqlite3
handle.sqlite3