{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title> 
            {% block title %} 
            
            {% endblock title %}
        </title>
    </head>
    <body>

        <div class="header-bar">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    {% block header %} {% endblock header %}
                </div>
                <div class="col-4">
                    <a href="{% url 'logout' %}" style="color: white;">Logout</a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="sidebar">
                {% block menu %}
                {% endblock %}
            </div>
            <div class="content">

                {% block body %}

                {% endblock %}
            </div>
        </div>

        <div class="footer">
            <p>&copy; 2024 USDA. All rights reserved.</p>
        </div>
    </body>
</html>
