{% extends 'common/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}


{% block header %}
    Welcome {{ user.username }}
{% endblock header%}

{% block menu %}

<a href="{% url 'dashboard' %}">Home</a>
<a href="{% url 'user_create' %}">Create User</a>
<a href="{% url 'group_create' %}">Create Group</a>
<a href="{% url 'user_list' %}">List Users</a>
<a href="{% url 'group_list' %}">List Groups</a>
<a href="{% url 'mint_handles' %}">Min Handle</a>
    <!-- {% for item in menu %} -->

    <!-- {% endfor %} -->

{% endblock menu %}


{% block body %}
    <h2 class="ac">{{ heading }}</h2>
    <p class="ac">
        {{ message }}
    </p>
{% endblock %}
