{% extends 'common/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}


{% block header %}
    Welcome {{ user.username }}
{% endblock header%}

{% block menu %}

    <a href="{% url 'dashboard' %}">Home</a>
    <a href="{% url 'user_create' %}">Create User</a>
    <a href="{% url 'group_create' %}">Create Group</a>
    <a href="{% url 'user_list' %}">List Users</a>
    <a href="{% url 'group_list' %}">List Groups</a>
    <a href="{% url 'mint_handles' %}">Mint Handle</a>
    <!-- {% for item in menu %} -->

    <!-- {% endfor %} -->

{% endblock menu %}


{% block body %}
    <div class="container">
        <div id="submitButton">
            <h2 >Click 'Enter URL' button to proceed</h2>
            <button id="submitButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#inputModal">
                Enter URL
            </button>
        </div>

        <div id="postSubmit">

        </div>

        <!-- Modal -->
        <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inputModalLabel">Enter URL</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="inputForm" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="userInput">Input</label>
                                <input type="text" class="form-control" id="userInput" name="user_input" value="{{ default_value }}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        // Hide the button and insert text when clicked
        document.getElementById('submitButton').onclick = function() {
            this.style.display = 'none';
            document.getElementById('postSubmit').innerText = 'Please wait. Loading .....';
        };

        // Handle form submission
        document.getElementById('inputForm').onsubmit = function(event) {
            event.preventDefault();  // Prevent the default form submission
            
            // Close the modal
            $('#inputModal').modal('hide');
            
            // Submit the form after closing the modal
            this.submit();
        };
    </script>

{% endblock %}
